
    <tr>
        <td class="logo" align="center">
            <img style="margin: 45px 0 0 0; height : 33px; width : 133px;" src="https://cdn.template.com/user-email-icons/obie-logo.png" alt="Template" />
        </td>
    </tr>